body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: black;
    color: whitesmoke;
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo {
    width: 70px;
    height: 70px;
}

.name {
    letter-spacing: 4px;
    font-size: 1.2m;
}

.menu-icon {
    display: none;
}

.navegation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegation ul li {
    display: inline-block;
}

.navegation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navegation ul li a:hover {
    background: #043d1d;
}

.main {
    padding-top: 4rem;
}

.footer {
    color: whitesmoke;
    background: black;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 6rem;
}

@media only screen and (max-width: 850px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
        color: whitesmoke;
    }

    .menu-icon:hover {
        background: #043d1d;
        text-align: center;
    }

    .navegation {
        width: 100%;
        margin-top: 1rem;
    }

    .navegation ul {
        display: none;
    }

    .navegation ul.show {
        display: block;
    }

    .navegation ul li {
        display: block;
    }

    .navegation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .navegation ul li a:hover {
        background: #043d1d;
    }
}

section{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}


section:nth-child(1) h1{
    font-size: 80px;
    text-align: center;
    letter-spacing: 6px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #000;
}

section:nth-child(1) h3{
    font-size: 40px;
    letter-spacing: 4px;
    color: whitesmoke;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
}

section:nth-child(2){
    background-color: #444444c2;
}
.about{
    color: #043d1d;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px; 
    text-shadow: 3px 3px 3px rgb(37, 37, 37);
}

.info{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 25px;

    margin-top: 60px;
    margin-left: 180px;
    margin-right: 180px;
}